 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
.container{
    min-height:100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.counter{
    text-align: center;
}
.counter h1{
    font-size: 60px;
    font-weight: bold;
    padding-bottom: 50px;
}
.counter span{
    font-size: 50px;
    font-weight: bold;
    
}
.btn-container{
    padding-top: 70px;
}
button{
    height: 40px;
    width: 170px;
    margin: 0 10px;
}